body{
    margin: 0%;
    padding: 0%;
    width: 100%;
}
html{scroll-behavior: smooth;}
header{
    margin-top: 15px;
}
.inner-container{
    padding: 10px;
}
.heading1{
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
}
/* .navbar{
    background-color: aliceblue;
    margin-top: 1rem;
    position: sticky;
    top: 5px;
}  */
.navbar:active{
    border-bottom: #000;
}
.navbar, li, a{
    color: #000;
    list-style-type: none;
    text-decoration-line: none;
    margin: 15px;

}
li, a:hover{
    color: #575353;
}
li, a:focus{
    color: #696464;
}
/* li, a::after{
    border-bottom: 2px solid #000;
} */

.navbar ul{
   display: flex;
   flex-direction: row;
   justify-content: center;
   align-items: center;
}
.container{
    padding: 3%;
    color: white;
    text-shadow: 5px solid gray;
    text-align: center;
    /* background-color: hsla(199, 98%, 25%, 0.651); */
    /* border: 1px solid blue; */
    background-image: linear-gradient(hsla(202, 88%, 23%, 0.723), hsla(202, 88%, 23%, 0.723)),url("bitch 1000&350.jpg.jpg");
    /* background-image: linear-gradient(to left, gold, brown); */
    background-repeat: no-repeat;
    background-size: cover;
    text-shadow: 2px 2px 5px gray;
}
button{
    background-color: rgb(251, 178, 51);
    border-radius: 10px;
    border: none;
    width: 12vw;
    height: 5vh;
}
#WELCOME{
    text-align: center;
    color: hsla(199, 98%, 25%, 0.651);
}
.lorem{
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
#btn-btn{
    margin-left: 34.5rem;
}
.article{
    background-color: rgb(220, 220, 220);
    padding: 12px;
}
.second-images img{
    padding: 1rem;
    width: 20vw;
    height: 23vh;
    border-radius: -15%;
    /* margin: -7px; */
    margin-left: 5.7rem;
}
#experts{
    text-align: center;
    color: hsla(199, 98%, 25%, 0.651);
}
fieldset{
    width: 10vw;
    border-left: none;
    border-right: none;
    border-bottom: none;
    margin-left: 35rem;
}
.mybtn{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.mybtn a{
    color: rgb(251, 178, 51);
}
#form{
    margin: 15px;
    /* border-radius: 1rem; */
}
.mylogo{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.mylogo i{
    margin: 10px;
    cursor: pointer;
}
.mylogo i:hover{
    color: rgb(251, 178, 51);
}
.footer{
    padding-top: 5px;
    color: #fff;
    text-shadow: 2px 2px 5px gray;
    background-color: rgba(1, 87, 126, 0.651);
    background-image:linear-gradient(hsla(202, 88%, 23%, 0.723),hsla(202, 88%, 23%, 0.723)), url("bitch 1000&350.jpg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}